.subject {
  font-family: 'Vazir', serif;
  padding: 1rem;

  h1 {
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: right;
  }

}

.card-style {
  direction: rtl;
  font-family: 'Vazir', serif;
  font-size: .8rem;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  &::after {
    z-index: -1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1);
    transition: all .6s cubic-bezier(.165, .84, .44, 1);
  }

  &:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);

    &::after {
      opacity: 1;
    }
  }

  .image {
    padding: 1rem;
  }

  .text-normal {
    color: black;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .text-head {
    color: black;
    font-weight: bold;
  }

  .text-meta {
    font-size: .9rem;

    .writer {
      color: black
    }
  }
}