@import '../../sassStyles/mixins';

$img-base-size: 8rem;
$img-base-margin: 1rem;

.blog {
  box-shadow: none;
  height: auto;
  margin: 1rem;

  .h1 {
    font-family: 'Vazir', serif;
    font-size: $base-font-size * 1.125;
    font-weight: bold;
    margin-right: .4rem;
    margin-top: 1rem;
    text-align: end;

    @media (max-width: 767.98px) {
      font-size: $base-font-size * .93;
    }
  }

  .p {
    direction: rtl;
    font-family: 'Vazir', serif;
    font-size: $base-font-size;
    margin-right: .4rem;
    text-align: start;

    @media (max-width: 767.98px) {
      font-size: $base-font-size * 11 / 16;
    }
  }

  .meta {
    font-family: 'Vazir', serif;
    font-size: $base-font-size * .8;
  }

  .no-padding {
    border: 0;
    margin: 1rem;
    padding: 0;
  }


  .blog-img {
    border-radius: 3%;
    height: $img-base-size * 4 / 8;
    //no margin on top and bottom and base margin on left and right
    margin: $img-base-margin * 12 / 8;
    margin-bottom: 0;
    margin-top: 0;
    width: $img-base-size * 4 / 8;

    @include sm {
      height: $img-base-size * 5 / 8;
      margin: $img-base-margin * 5 / 8;
      width: $img-base-size * 5 / 8;
    }

    @include md {
      height: $img-base-size * 6 / 8;
      margin: $img-base-margin * 6 / 8;
      width: $img-base-size * 6 / 8;
    }

    @include lg {
      height: $img-base-size;
      margin: $img-base-margin;
      width: $img-base-size;
    }
  }

  .profile {
    border-radius: 50%;
    height: 2.5rem;
    margin: 0;
    padding: 0;
    width: 2.5rem;
  }
}
