@import '../../sassStyles/mixins';

.bg-component {
  background: linear-gradient(to right, $rayanesh-green-light, $rayanesh-green);
  color: white;
  direction: rtl;
  margin-top: .8rem;

  .picture {
    border-radius: .5rem;
    height: 4rem;
    width: 7rem;
  }

  .text {
    color: white;
    font-family: 'Vazir', serif;
    font-size: $base-font-size * 1.5;
    font-weight: bold;

    @include md {
      font-size: $base-font-size * 2;
    }
  }

  .no-padding {
    margin: 0;
    padding: 0;
  }

}