//break points
$break-points: (
        'sm': 576px,
        'md': 768px,
        'lg': 992px,
        'xl': 1200px,
        'xxl': 1400px
);

//colors
$rayanesh-green: rgb(26, 132, 79);
$rayanesh-green-light: rgb(84, 219, 151);

//fonts
$base-font-size: 1rem;


