.ce-block__content,
.ce-toolbar__content {
  /*on large scree width is 60%*/
    width: 70%;
    margin: 0 auto;
    /*on small screen width is 100%*/
    /*@media (max-width: 768px) (*/
    /*      width: 100%;*/
    /*    )*/
    font-family: 'vazir', serif;
    font-size: 18px;
}

textarea {
    direction: ltr;
}

@media screen and (max-width: 768px) {
    .ce-block__content,
    .ce-toolbar__content {
        width: 90%;
        padding: 10px;
    }
}